@font-face {
    font-family: 'Inter';
    src: url(Inter/static/Inter-Black.ttf) format('ttf');
   }
* {
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    font-family: 'Inter';
    width: 1220px;
}
li {
    list-style: none;
}

/*navigation*/

.header-nav {
    display: flex;
}

.nav {
    display: flex;
}
.btn {
    padding: 10px 18px;
    border: 1px solid #D0D5DD;
    border-radius: 8px;

}
/*main*/
.banner-block{
    color: white;
    display: flex;
    background: url(img/banner-background.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    align-items: center;
    border-radius: 16px;
}
.banner-description {
    width: 264px;
   
    margin-left: 72px;
}

.banner-img {
    margin-top: -39px;
    margin-right: 97px;
}