
* {
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    font-family: 'Inter';
    font-size: 16px;
    background: #E5E5E5;
    color: #101828;
    line-height: 24px;
    font-weight: 400;
}
li {
    list-style: none;
}
ul {
    padding: 0;
}
h1 {
    font-size: 3.25rem;
}

h3 {
    font-size: 2rem;
    font-weight: 600;
}
.active {
    color: #D0D5DD;
}
a {
    color: #101828;

    text-decoration: none;
}
a:hover {
    color: #7F56D9;
    
}
/*navigation*/
header {
    box-shadow: 0px 12px 12px -4px rgba(16, 24, 40, 0.02);
    background-color: white;
    height: 178px;
    
}
.border {
    width: 100%;
    height: 1px;
    background-color: #EAECF0;
}
.alert {
    background: #7F56D9;
    border-radius: 4px;
    color: white;
    height: 40px;
    margin-top: 8px;
}
.top-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1220px;
    height: 72px;
    
}

.top-nav p {
    color: #667085;
    display: inline;
    font-size: 14px;
    margin-left: 6px;
    margin-bottom: 3px;
}
.location {
    margin-left: -2px;
    margin-top: -3px;
}
.logo {
    margin-top: 3px;
    margin-left: 147px;
}
.cart {
    display: flex;
    margin-top: 3px;
    margin-right: -17px;
}
.cart li {
    margin: 0 22px;
}
.categories {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1220px;
    height: 64px;
}
.categories li {
    padding: 36.4px;
}
.btn {
    padding: 10px 18px;
    border: 1px solid #D0D5DD;
    border-radius: 8px;
    font-size: 16px;
}
/*main*/

/* banner */
.banner-block{
    color: white;
    display: flex;
    background: url(img/banner-background.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    align-items: center;
    border-radius: 16px;
    margin-top: 40px;
}
.transparent {
    display: inline-flex;
    padding: 0;
    text-align: start;
    margin-top: 35px;
    margin-bottom: 26px;

}
.breadcrumb-item {
    font-size: 14px;
    margin-right: 10px;
    margin-top: 3px;
    margin-left: 1px;
}
.breadcrumb-item a{
    
    color: #667085;
}
.breadcrumb-item a::after {
    content: ">";
    margin-left: 10px;
    color: #D0D5DD;

}
.banner-nav h2 {
    font-size: 52px;
    margin-top: 19px;
    margin-bottom: 59px;
}

/* BANNER INFO */
.banner-description {
    margin-left: 75px;
}
.banner-title {
    font-size: 40px;
    font-weight: 600;
    line-height: normal;
    padding-top: 9px;
}
.banner-description p {
    margin: 30px 0;
    line-height: 24px;
    margin: 22px 0 32px;
}
.banner-btn {
    margin-bottom: 32px;
}
.banner-img {
    margin-top: -39px;
    margin-right: 97px;
    margin-left: 31px;
}



/* SECTION-FILTERS */
.filters {
    margin-top: 60px;
    display: flex;
}
.filters-title {
    color: #667085;
    font-size: 14px;
    
}
select {
    width: 296px;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    border-radius: 8px;
    height: 44px;
    border-radius: 5px;
    padding-left: 20px;
    margin: 0;
    margin-top: 4px;
    
}

/* search */

  
.search form {
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    border-radius: 8px;
    width: 592px;
    height: 44px;
    border-radius: 5px;
    display:flex;
    flex-direction:row;
    align-items:center;
    padding-left: 20px;
    margin: 0;
    margin-top: 4px;
}
.search form:hover {
    border: 1px solid  #667085;
}
.search input {
    all: unset;
    font: 16px;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
}

.placeholder {
    color: #98A2B3;
}
/* FILTERS */
.filter {

}

/* sort by*/

.sort {
    
}

/* PRODUCTS CARD*/
.products {
    display: grid;
    grid-template-columns: repeat(4, 280px);
    margin-top: 40px;
    grid-gap: 32px;
    justify-content: center;
}

.product-card {
    background-color: white;
    width: 280px;
    height: 495px;
    border-radius: 12px;

}

.product-card img {
    margin: 12px 12px 0;
    width: fit-content;
}
.product-description {
    margin: 12px 22px 24px;
}
.product-info {
    height: 160px;
    margin-bottom: 40px;
    
}
.product-info-title  {
    margin-bottom: -4px;
    margin-left: 3px;
}
.product-card h6 {
    font-size: 19px;
    font-weight: 600;
    margin-top: 11px;
}
.product-card p{
    font-size: 14px;
    color: #98A2B3;
    line-height: 20px;
    font-weight:300;
}
.product-rate {
    font-size: 12px;
    margin-bottom: 8px;
    margin-top: 12px;
}
.price {
    border-top: 1px solid #EAECF0;
    padding: 17px 2px 21px;
}
.product-price-old {
    color: #D0D5DD;
    margin-right: 8px;
}
.product-price-new {
    font-weight: 600;
    margin-right: 78px;
}
.product-sale {
    font-weight: 600;
    font-size: 12px;
    background: #669F2A;
    border-radius: 4px;
    color: #fff;
    padding: 6px 6px;
    margin-right: 0;
}
.product-category {
    font-weight: 400;
    font-size: 12px;
    border-radius: 4px;
    padding: 2px 5px;
}
.product-category::before {
    content: "•";
    font-size: large;
    padding-right: 1px;
}
.shooter {
    color: #7F56D9;
    background: #F9F5FF;
    
}
.multiplayer_rpg {
    color: #E31B53;
    background: #FFF1F3;
}
.action {
    color: #DC6803;
    background: #FFFAEB;
}
.card_game {
    color: #039855;
    background: #ECFDF3;
}
.strategy {
    color: #57534E;
    background: #F7F7EA;
}
.action_rpg {
    color: #0086C9;
    background: #F0F9FF;
}
/* footer */
.questions {
    width: 1220px;
}
.questions-title {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 44px;
    
}
.questions-title p {
    margin-top: 20px;
}
.question-title {
    display: flex;
    align-items: center;
}
.question-title h4 {
    margin-left: 0;
   
}
.question-title svg {
    margin-right: 0;
}
.question h4 {
    font-size: 18px;
    font-weight: bold;
}

.question h5 {
    font-weight: 500;
    font-size: 16px;
}
.question {
    border-bottom: 1px solid #D0D5DD;
    padding-bottom: 40px;
    padding-top: 24px;
}
.question > * {
    margin-bottom: 24px;
}
.question p, li {
    color: #667085;
    font-weight: 300;
}
.question li::before {
    content: "•";
    font-size: large;
    padding-right: 12px;
    color: #7F56D9;
}
footer a {
    color: white;
}
footer a:hover {
    color: #98A2B3;
}



.footer-nav span {
    font-size: 14px;
    color: #98A2B3;
}

.footer-nav {
    background-color: #1D2939;
    color: white;
}
.footer-subscribe {
    text-align: center;
}
.footer-subscribe p {
    color: #98A2B3;
}
.email {
    width: 470px;
    padding: 10px 18px;
    border-radius: 8px;
}
.email-btn {
    padding: 10px 18px;
    color: white;
    background-color: #7F56D9;
    border-radius: 8px;
    border: 1px solid #D0D5DD;
}


.footer-links {
    display: grid;
    grid-template-columns: repeat(4, 280px);
    justify-content: center;
}
.copyright {
    font-size: 14px;
    color: #667085 ;
}
@media (max-width: 1024px) {
    .products {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(3, 280px);
        margin-top: 40px;
        grid-gap: 32px;
    }   
}

@media (max-width: 768px) {
    .products {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2, 280px);
        margin-top: 40px;
        grid-gap: 32px;
    }   
}

@media (max-width: 320px) {
    .products {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(1, 280px);
        margin-top: 40px;
        grid-gap: 32px;
    }   
}